<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" ></link>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.5/plyr.css" />
    <title>SignLanguage: Learn Alphabets Through Songs</title>
    <link rel="icon" href="/assets/logo/kawaii-panda.png" />
    <meta name="description" content="IyalMozhi is a platform where users can practically learn Indian Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    <link rel="canonical" href="https://signlanguage.webdrip.in/"/>
    <meta property="og:title" content="Learn ASL practically"/>
    <meta property="og:description" content="SignLanguage is a platform where users can practically learn Indian Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    <meta property="og:site_name" content="SignLanguage"/>
    <meta property="og:type" content="ASL,Education,Courses,Learning,Machine Learning, ML, AI, Deaf Community,deaf, sign language"/>
    <meta name="language" content="EN"/>
    <meta name="author" content="Team 12"/>
    {# analytics - privacy and GDPR Compliant #}
    {# <script async defer data-website-id="b315f6d5-10e5-4c26-a781-d3113658dae7" src="https://analytics.webdrip.in/umami.js"></script> #}
</head>
<body>
    {% include 'partials/_header.html' %}

    {# Skeleton Loading videos #}
    <section id="skeleton-cards" class="hidden flex justify-center align-center flex-wrap max-w-screen-xl mx-auto mt-10 gap-4">
        {% import 'components/skeletonCards.njk' as macro  %}

        {% for i in range(0, 12) -%}
            {{ macro.skeletonCard() }}
        {%- endfor %}
        
    </section>
    {# videos #}
    {% import 'components/videoCards.njk' as macro %}
<section id="paginated-video" class="flex justify-center align-center flex-wrap max-w-screen-xl mx-auto mt-10 gap-4">
    {% import 'components/videoCards.njk' as macro %}
    {% for video in videos %}
        {{ macro.videoCard(video.thumbnail, video.title, video.URL, video.uploadDate, video.duration) }}
    {% endfor %}
</section>



    
</body>
<script src="{{ "/js/flowbite.js" | url }}" defer></script>
<script src="https://cdn.plyr.io/3.6.5/plyr.js" defer></script>
<script type="module" src="/js/alphabetVideo.js"></script>   
</html>